.clonable {
	margin-bottom:-1px;
	float: left;
	height: 50px;
	width: 70px;
	text-align:center;
	border:1px solid #ccc;
	background-color: #eaeaea;
}

.droppable {
	width: 550px;
	height: 550px;
	float: left;
	margin: 10px;
}

.buttom_column {
	margin-left: 10px;
	margin-right: 5px;
	width : 70px;
	float: left;
	text-align:center;
	margin-top:10px;
}

.buttom_row b {
	line-height: 200%;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}