.clonable {
	margin: 10px;
	float: left;
	height: 50px;
	width: 60px;
	text-align:center;
	border:1px solid #ccc;
	background-color: #eaeaea;
}

.droppable {
	width: 550px;
	height: 550px;
	float: left;
	margin: 10px;
}

#buttom_column {
	width : 80px;
	float: left;
}