.window {  
    border:1px dotted gray; 
    width:6em; 
    height:6em;      
    position:absolute; 
    font-family:serif;
    font-style:italic;
    padding-top:0.9em; 
    font-size:0.9em;
}
.demo { position:relative; }
.drag-locked { border:1px solid red; }

.dragActive { border:2px dotted orange; }
.dropHover { border:1px dotted red; }

.cmdLink { font-size:0.80em;}
#clear { padding:0.3em; }
#clear:hover { background-color:yellow; }
#list {
    text-align:center;
    display:none;
    font-size:90%;
    position:absolute;
    width:250px;
    left:30%;
    top:100px;
    background-color:white;
    padding:5px;
    border:1px solid #456;
    opacity:0.8;
}
#list table { width:100%; text-align:left;}
#explanation { text-align:center; }