.buttons{
	border:1px solid #000000; 
	text-align:left;
	padding-left: 5px;
	padding: 5px;
}

.buttons b{
	border: 1px solid black;	
	display: block; 
	width: 95%; 	
	background: #DDDDDD;
	padding-left: 5px;
	text-decoration: none;		
}

.buttons a{
	border: 1px solid black;	
	display: block; 
	width: 95%; 	
	background: white;
	padding-left: 5px;
	text-decoration: none;		
}

.buttons div{
	border: 1px solid black;
	display: block;
	width: 179px;
	background: white;
	padding-left: 5px;
	text-decoration: none;
        cursor: pointer;
}


.buttons div img{
	border: 1px solid black;
	background: white;
        cursor: pointer;
}


.activity{
	/*padding: 20px;*/ 	 	
	/*border: 2px solid #CCCCCC;*/
	font-size: 80%;
}

.activity table{
	border: 1px solid green;
        width: 125px;
}

.activity table tr.header td{
	background-color: #24bd00;
}

.activity table tr td{
	background-color: #FFFFFF;
	border: 1px solid #3cb000;
}

.event{
	/*padding: 20px;*/
	/*border: 2px solid #CCCCCC;*/
	font-size: 80%;
}

.event table{
	border: 0px solid #4a7ca3;
        width: 75px;
}

.event table tr td{
        text-align: center;
        color: #728ea5;
        font-weight: bold;
}

.event table tr.header td{
	background-color: #FFFFFF;
	border: 2px solid #4a7ca3;
}

.decision table{
	border: 0px solid #4a7ca3;
        width: 75px;
}

.decision table tr td{
        text-align: center;
        color: #728ea5;
        font-weight: bold;
}

.decision table tr.header td{
	background-color: #FFFFFF;
	border: 2px solid #4a7ca3;
}

.switch table{
	border: 0px solid #4a7ca3;
        width: 40px;
}

.switch table tr.header td{
	background-color: #FFFFFF;
	border: 0px solid #4a7ca3;
        text-align: center;
}


